.content-div {
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-div {
    height: 250px;
    position: relative;
}
.button-div {
 position: relative;
}
